.hide{
    display: none;
}

#body {
    background-color: rgb(63, 59, 59);
}

.search {
    background-color: blue;
    padding: 10px 40px;
    text-align: center;
    border-radius: 5px;
    border: none;
    color: rgb(10, 10, 10);
}

.searchBar {
background-color: rgb(18, 126, 108) !important;
}

#title {
    text-align: center;
    font-weight: 900;
    padding: 5%;
    background-color: darkblue;
    color: ivory;
}

#dogSearch {
    padding: 5%;
    text-align: center;
    background-color: goldenrod;
    width: 50%;
    font-weight: 700;
    
}
#searchBar {
    font-weight: 700;
}

#dogSearchResultsPageTwo {
    text-align: center;
    font-weight: 700;
    padding: 5%;
}

#dogList {
    text-align: center;
    font-weight: 400;
}

#logo {
    background-image: url();
    height: 280px;
    width: 290px;
    text-align: left;
    font-weight: 600;
    padding: 2%;
}

#parkSearch {
    text-align: center;
    padding: 5%;
    font-weight: 700;
    background-color: goldenrod;
    width: 50%;
}

#parkSearchHeader {
    font-weight: 700;
}

#parkSearchResultsPageThree {
    text-align: center;
    padding: 5%;
}

#parkSearchResultsHeader{
    font-weight: 700;
}

.card-title {
    font-family: monospace;
    color: black;
}

#map {
    height: 395px;
    width: 45%;
    float: right;
}