/*
.hide{
    display: none;
}
*/
#title {
    text-align: center;
    font-weight: 900;
    padding: 5%;
}
#dogSearch {
    padding: 5%;
    text-align: center;
}
#searchBar {
    font-weight: 700;
}
#dogSearchResultsPageTwo {
    text-align: center;
    font-weight: 700;
    padding: 5%;
}
#dogList {
    text-align: center;
    font-weight: 400;
    font-family: fantasy;
}
#logo {
    background-image: url('./images/dog\ finder\ logo.PNG');
    text-align: left;
    font-weight: 600;
}
#parkSearch {
    text-align: center;
    padding: 5%;
}
#parkSearchHeader {
    font-weight: 700;
}
#parkSearchResultsPageThree {
    text-align: center;
    padding: 5%;
}
#parkSearchResultsHeader{
    font-weight: 700;
}